<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Treat Tracker</title>
    <link rel='stylesheet' href='~/css/bootstrap.min.css'>
    <link rel="stylesheet" href='~/css/styles.css'>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Pierre's Treats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" }) <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        @Html.ActionLink("See all flavors", "Index", "Flavors", null, new { @class = "nav-link" })</a>
      </li>
      <li class="nav-item">
      @Html.ActionLink("See all treats", "Index", "Treats", null,  new { @class = "nav-link" })
      </li>
      <li class="nav-item">
      @Html.ActionLink("Add new flavor", "Create", "Flavors", null, new { @class = "nav-link" })
      </li>
      <li class="nav-item">
      @Html.ActionLink("Add new treat", "Create", "Treats", null, new { @class = "nav-link" })
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account Info</a>
        <div class="dropdown-menu">
          @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "dropdown-item" })
          @Html.ActionLink("Create an account", "Register", "Account", null, new { @class = "dropdown-item" })
          <div class="dropdown-divider"></div>
          @using (Html.BeginForm("LogOff", "Account"))
          {
            <input type="submit" class="btn btn-default dropdown-item" value="Log out" />
          }
        </div>
      </li>
    </ul>
    @* <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search Treats</button>
    </form> *@


@using (Html.BeginForm("Index", "Treats", FormMethod.Get, new { @class= "form-inline my-2 my-lg-0" }))
      {
        <input class="form-control mr-sm-2" type="text" placeholder="Treat Description">
        <button class="btn my-2 my-sm-0" type="submit">Search Treats</button>
      }      




  </div>
</nav>
<br>
  <div class="container">

    @RenderBody()
</div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>