@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    <p>@Html.LabelFor(model => model.Description)</p>
    <p>@Html.EditorFor(model => model.Description)</p>

    <p>@Html.Label("Select flavor")</p>
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" class= "btn btn-primary" />
}