@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels
@model RegisterViewModel
<h2>Register a new user</h2>

<hr />
@using (Html.BeginForm()) 
{
  <p>@Html.LabelFor(u => u.Email)</p>
  @Html.TextBoxFor(u => u.Email)
  <hr />

  <p>@Html.LabelFor(u=> u.Password)</p>
  @Html.PasswordFor(u=> u.Password)
  <hr />

  <p>@Html.LabelFor(u=> u.ConfirmPassword)</p>
  @Html.PasswordFor(u=> u.ConfirmPassword)

  <input type="submit" value="Register" class="btn btn-primary"/>

}